

    <h2 class="mt-5">Lista Empleados</h2>
    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>Id:</th>
                <th>Nombre:</th>
                <th>Apellido:</th>
                <th>Email:</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let empleado of empleados">
                <td>{{empleado.id}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellido}}</td>
                <td>{{empleado.email}}</td>
            </tr>
        </tbody>
    </table>

